<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:pink;">
    <h1><a class="navbar-brand" href="#">Lionel's Data</a></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- <div class="navbar-nav">
        <a class="nav-item nav-link" style="color:darkred;" href="/">Home</a>
        <a class="nav-item nav-link" style="color:darkred;" href="/blog">Blog</a>
      </div> -->
    </div>
  </nav>

<!-- formatting language for python template -->
{%block content%}

{%endblock%}