{%extends 'base.html'%}

{%block content%}

<!-- <h1 style="margin: 24px;"><b>Hi, I'm Lionel.</b></h1>
<p style="margin: 24px;">Here are my Data and Design projects.</p> -->

<!-- <div class="card" style="width: 18rem;  margin: 24px; background-color:pink;">
    <img src="https://img.itch.zone/aW1nLzI1ODE4MjUucG5n/original/%2B58IL4.png" class="card-img-top" style="background-color: darkred; width:auto; min-height: 200px; max-height: 200px;" alt="...">
    <div class="card-body">
      <h5 class="card-title">Scraping itch.io</h5>
      <p class="card-text">Scraping itch.io</p>
      <a href="/data" class="btn btn-primary" style="background-color: darkred;">See Blog Post</a>
    </div>
  </div> -->

<p style="margin: 24px;">This is a {{ r }} article about {{ n }}!</p>

<p style="margin: 24px;">The predicted score for {{ n }} based on this {{ r }} article is {{ s }}/10!</p>

{%endblock%}